@model IEnumerable<QualityCapsIrina.Models.Order>

@{
    ViewData["Title"] = "Orders";
    string action = ViewContext.RouteData.Values["Action"].ToString().ToLower();
}
<div class="page-content-wrapper">
    <ul class="nav nav-tabs mt-3 mb-3">
        <li class="nav-item">
            <a class="nav-link @(action=="profile"? "active" : "")" asp-action="Profile">
                Profile details
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(action=="orders"? "active" : "")" asp-action="Orders">
                Orders
            </a>
        </li>
    </ul>
    <h2 class="pl-2">My orders</h2>
    @if (Model.ToList().Count>0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Subtotal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GST)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GrandTotal)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.Subtotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GST)%
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.GrandTotal)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="card mb-3">
            <div class="card-body d-flex align-items-center flex-column">
                <h5 class="card-title">No orders yet</h5>
                <p class="card-text">Go to the catalogue and make your first order!</p>
                <a asp-controller="home" asp-action="index" class="btn btn-success">Go shopping</a>
            </div>
        </div>
    }
</div>
