@{
    string contr = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    string action = ViewContext.RouteData.Values["Action"].ToString().ToLower();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QualityCapsIrina</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/admin.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" 
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" 
              integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="nav-main">
        <div class="nav-block nav-logo" style="justify-content: flex-start;">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo-qc.png" alt="logo" />
            </a>
        </div>
        <div class="nav-block nav-header">
            <a asp-area="Admin" asp-controller="Admin" asp-action="Index" style="font-size: 3vw;">Administation panel</a>
        </div>
        <div class="nav-block nav-user-actions">
            <p class="nav-item welcome" style="margin-bottom: 0; font-weight: bold;">@User.Identity.Name</p>
            <form method="post" asp-area="" asp-controller="Account" asp-action="LogOff" class="nav-item">
                <button type="submit"><i class="fas fa-sign-out-alt"></i> Logout</button>
            </form>
        </div>
    </nav>
    <ul class="nav nav-tabs mt-3 mb-3">
        <li class="nav-item">
            <a class="nav-link @(contr=="categories"? "active" : "")" id="categories-index" asp-area="Admin" asp-controller="Categories" asp-action="Index">
                Categories
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(contr=="items"? "active" : "")" asp-area="Admin" asp-controller="Items" asp-action="Index">
                Items
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(contr=="suppliers"? "active" : "")" asp-area="Admin" asp-controller="Suppliers" asp-action="Index">
                Suppliers
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(contr=="users"? "active" : "")" asp-area="Admin" asp-controller="Users" asp-action="Index">
                Users
            </a>
        </li>
    </ul>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Quality Caps Irina</p>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/fontawesome-free-5.0.10/svg-with-js/js/fontawesome-all.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
                asp-fallback-src="~/lib/fontawesome-free-5.0.10/svg-with-js/js/fontawesome-all.min.js"
                crossorigin="anonymous"
                integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
