@model QualityCapsIrina.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<div class="row mb-4">
    <div class="col-md-6 offset-md-3">
        <div class="order-summary order-block  p-3">
            <h4>Customer details</h4>
            <dl class="dl-horizontal">
                <dt>
                    Name
                </dt>
                <dd>
                    @Model.FullName
                </dd>
                <dt>
                    Address
                </dt>
                <dd>
                    @Model.FullAddress
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MobileNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MobileNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.HomeNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.HomeNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.WorkNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.WorkNumber)
                </dd>
                <dt>
                    Orders total
                </dt>
                <dd>
                    @Model.Orders.Count()
                </dd>
                <dt>
                    Orders waiting
                </dt>
                <dd>
                    @Model.Orders.Where(o=>o.Status==OrderStatus.Waiting).Count()
                </dd>

            </dl>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
