<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QualityCapsIrina</title>
    <base href='@Url.Content("~/")' />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/select2/css/select2.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/account.css" />
        <link rel="stylesheet" href="~/css/dropdown.css" />
        <link rel="stylesheet" href="~/css/utils.css" />
        <link rel="stylesheet" href="~/lib/owl.carousel/assets/owl.carousel.css">
        <link rel="stylesheet" href="~/lib/owl.carousel/assets/owl.theme.default.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
              integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
        <link rel="stylesheet" href="~/lib/owl.carousel/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="~/lib/owl.carousel/assets/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/css/utils.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/dropdown.css" asp-append-version="true" />
    </environment>
    @RenderSection("StyleSheets", required: false)
</head>
<body>
    <nav class="nav-top justify-content-between pl-lg-2 pr-lg-2">
        <div>
            <a asp-area="" asp-controller="Home" asp-action="Contact"><i class="fas fa-phone"></i> +64123456789</a>
            <a href="mailto:info@qc.co.nz"><i class="fas fa-envelope"></i> info@qc.co.nz</a>
        </div>
        <div>
            <a asp-area="" asp-controller="Home" asp-action="About">About</a>
            <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
        </div>
    </nav>
    <nav class="nav-main">
        <div class="nav-block nav-categories">
            <div class="nav-item dropdown">
                <a asp-controller="items" asp-action="men" class="nav-item dropbtn">
                    Men <i class="fas fa-angle-down"></i>
                </a>
                <div class="dropdown-content">
                    @await Component.InvokeAsync("CategoriesList", new { gender = Gender.Men })
                </div>

            </div>
            <div class="nav-item dropdown">
                <a asp-controller="items" asp-action="women" class="nav-item dropbtn">
                    Women <i class="fas fa-angle-down"></i>
                </a>
                <div class="dropdown-content">
                    @await Component.InvokeAsync("CategoriesList", new { gender = Gender.Women })
                </div>
            </div>
            @*<a href="#" class="nav-item"><i class="fas fa-search"></i></a>*@
        </div>
        
        <div class="nav-block nav-logo">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo-qc.png" alt="logo" />
            </a>
        </div>
        <div class="nav-block nav-user-actions">
            @if (User.Identity.IsAuthenticated)
            {
                
                <div class="nav-item dropdown">
                    <p class="welcome pb-3 pt-3">@User.Identity.Name <i class="fas fa-angle-down"></i></p>
                    <div class="dropdown-content">
                        @if (User.IsInRole("customer"))
                        {
                            <a asp-controller="Account" asp-action="Orders"><i class="fa fa-list-ul"></i> Orders</a>
                            <a asp-controller="Account" asp-action="Profile"><i class="fa fa-user-circle"></i> Profile</a>
                        }
                        else if (User.IsInRole("admin"))
                        {
                            <a asp-area="Admin" asp-controller="Admin" asp-action="Index"><i class="fas fa-cog"></i> Admin Panel</a>
                        }
                        <hr class="m-0" />
                        <a asp-controller="Account" asp-action="LogOff"><i class="fas fa-sign-out-alt"></i> Log off</a>
                    </div>
                </div>             
            }
            else
            {
                <a asp-area="" asp-controller="Account" asp-action="Login" class="nav-item"><i class="fas fa-user"></i> Login</a>
            }

            @await Component.InvokeAsync("ShoppingCartSummary")
        </div>
    </nav>
    <div class="body-content">
        
        @RenderBody()
        
        <footer class="d-flex flex-column pl-4 pr-0 pb-4 justify-content-between">
            <div class="row w-100 d-flex">
                <div class="col-md-3 col-sm-6 mt-4">
                    <h5>Navigation</h5>
                    <div class="d-flex flex-column">
                        <a asp-area="" asp-controller="home" asp-action="index">Home</a>
                        <a asp-area="" asp-controller="items" asp-action="men">Men</a>
                        <a asp-area="" asp-controller="items" asp-action="women">Women</a>
                        <a asp-area="" asp-controller="home" asp-action="about">About</a>
                        <a asp-area="" asp-controller="home" asp-action="contact">Contact</a>
                        <a asp-area="" asp-controller="Home" asp-action="About">Profile</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mt-4">
                    <h5>Categories</h5>
                    <div class="d-flex flex-column">
                        <a asp-area="" asp-controller="home" asp-action="index">Peruvian</a>
                        <a asp-area="" asp-controller="items" asp-action="men">Flat</a>
                        <a asp-area="" asp-controller="items" asp-action="women">Basketball</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mt-4 ">
                    <h5>Contact us</h5>
                    <div class="d-flex flex-column">
                        <div><i class="fas fa-phone"></i> +64123456789</div>
                        <div><i class="mr-1 fas fa-location-arrow"></i> 75 Queen Street, Auckland</div>
                    </div>
                    <h5 class="mt-4">Social</h5>
                    <div class="d-flex social">
                        <a href="#"><i class="mr-1 fab fa-facebook-square hover-orangebrown"></i></a>
                        <a href="#"><i class="mr-1 fab fa-twitter-square hover-orangebrown"></i></a>
                        <a href="#"><i class="mr-1 fab fa-instagram hover-orangebrown"></i></a>
                    </div>

                </div>

                <div class="col-md-3 col-sm-6 mt-4 d-flex flex-column justify-content-between">
                    <div class="mb-4">
                        <h5>Payment methods</h5>
                        <div class="d-flex" style="font-size: 30px;">
                            <i class="mr-1 fab fa-cc-visa"></i>
                            <i class="mr-1 fab fa-cc-mastercard"></i>
                            <i class="mr-1 fab fa-cc-paypal"></i>
                        </div>
                    </div>
                    <div><p>2018 - Quality Caps. Belovolov 1484314</p></div>
                </div>
            </div>
            
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="~/lib/popper.js/umd/popper.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/fontawesome-free-5.0.10/svg-with-js/js/fontawesome-all.js"></script>
        <script src="~/lib/owl.carousel/owl.carousel.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/lib/select2/js/select2.js"></script>
        <script src="~/js/latest-arrivals.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="~/lib/popper.js/umd/popper.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/fontawesome-free-5.0.10/svg-with-js/js/fontawesome-all.js"></script>
        <script src="~/lib/owl.carousel/owl.carousel.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/lib/select2/js/select2.js"></script>
        <script src="~/js/latest-arrivals.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
